.esquerdo{
    background-color: rgb(209, 86, 86);
    width: 30%;
    padding: 10px;
    color:rgb(116, 3, 3);
}

.direito{
    background-color: rgb(143, 143, 209);
    width: 70%;
    padding: 15px;
    
}

.principal{
    display: flex;
    width: 100%;
    height: 100vh;
}

.foto{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin: auto;
}

.selfie {
    width: 100%;
    display: flex;

}

span {
    font-weight: bold;
}